<table class="table table-striped" id="verify-table">
	<caption>Check Developer Console for puts information on errors (temporary)</caption>
	<thead>
		<tr>
			<th>Step</th>
			<th>Description</th>
			<th>Status</th>
			<th>Time Taken</th>
		</tr>
	</thead>
	<tbody id="verify-table-body">

	</tbody>
</table>