
<div id="loading_spinner">Loading...</div>
<div id="uploading_spinner">Uploading...</div>
<div id="working_spinner">Working...</div>
<div id="printing_spinner">Printing...</div>
<div id="saving_spinner">Saving...</div>
<div id="deleting_spinner">Deleting...</div>
<div id="creating_spinner">Creating...</div>
<div id="emailing_spinner"><i class="glyphicon glyphicon-envelope"></i> Emailing...</div>